// Breakpoints
$mobile-width: 426px;
$tablet-width: 910px;
$breakpoints: (
  'mobile': $mobile-width,
  'tablet': $tablet-width
);

// Colors
$black: #202021;
$blue: #5dd8ff;
$brown: #b2867b;
$green: #0c927d;
$orange: #f89e34;
$purple: #baa0f2;
$red: #f93606;
$white: #fffcf4;
$yellow: #ffd780;

// Sizes
$xs: 1.25rem;
$s: 1.5rem;
$m: 2rem;
$l: 4rem;
