// Breakpoints
$breakpoint-h: 555px;
$breakpoint-w: 910px;

// Colors
$black: #202021;
$blue: #5dd8ff;
$brown: #b2867b;
$green: #0c927d;
$orange: #f89e34;
$purple: #baa0f2;
$red: #f93606;
$white: #fffcf4;
$yellow: #ffd780;
$highlights: (
  'blue': $blue,
  'brown': $brown,
  'green': $green,
  'orange': $orange,
  'purple': $purple,
  'red': $red,
  'yellow': $yellow
);

// Fonts
$primary-font: 'Inter', system-ui;

// Sizes
$xs: 1.25rem;
$s: 1.5rem;
$m: 2rem;
$l: 3rem;

:export {
  highlights: map-keys($highlights);
}
